## LendingClubCaseStudy


The purpose of this CaseStudy is to understand EDA methods and apply them to understand the attributes that impact the tendency of `LoanDefaults`.

In [201]:
#Import the necessary libraries for our DataAnalysis
import warnings
warnings.filterwarnings("ignore")               #to ignore warning messages while execution   

import numpy as np, pandas as pd                #for dataframes,operations    
import matplotlib.pyplot as plt, seaborn as sns #for plots
from datetime import datetime                   #for time related operations/anlysis

pd.set_option('display.max_colwidth', -1)       #to display the entire value of the cell

### 1. DataSourcing

In [202]:
#Data is already provided, importing the data to DataFrame, Since it is big file with various DataTypes set low_memory=False
loan_data=pd.read_csv(r'C:\Users\Sumanth Sarva\Documents\IIITB\LendingClub\loan\loan.csv',low_memory=False)

In [203]:
#DataFrame shape
loan_data.shape

(39717, 111)

### 2. DataCleaning

In [204]:
list(loan_data.columns.values) #listing the column names

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [205]:
# There are many columns let's see if there are empty columns
loan_data.columns[loan_data.isnull().all()]

Index(['mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

#### 2.1.1 Dropping empty columns

In [206]:
#dropping all the empty columns
loan_data.dropna(how='all',axis = 1 , inplace = True)

#table shape after dropping
loan_data.shape

(39717, 57)

In [207]:
#lets the see percentage of missing values in the remaining columns, sorted and listed by top 10
round( (loan_data.isnull().sum()/len(loan_data) * 100).sort_values(ascending=False),0).head(10)

next_pymnt_d                  97.0
mths_since_last_record        93.0
mths_since_last_delinq        65.0
desc                          33.0
emp_title                     6.0
emp_length                    3.0
pub_rec_bankruptcies          2.0
last_pymnt_d                  0.0
chargeoff_within_12_mths      0.0
collections_12_mths_ex_med    0.0
dtype: float64

#### 2.1.2 Dropping columns with more percentage of missing values

In [208]:
#lets drop the top 3 columns as they are not using considering the number of missing values.
loan_data.drop(["next_pymnt_d", "mths_since_last_record", "mths_since_last_delinq"],axis=1,inplace=True)

In [209]:
#Listing the remaining column names
loan_data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths',
       'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

#### 2.1.3 Dropping columns which have only `One Value`

In [210]:
print(loan_data.nunique())
print(loan_data.shape)

id                            39717
member_id                     39717
loan_amnt                     885
funded_amnt                   1041
funded_amnt_inv               8205
term                          2
int_rate                      371
installment                   15383
grade                         7
sub_grade                     35
emp_title                     28820
emp_length                    11
home_ownership                5
annual_inc                    5318
verification_status           3
issue_d                       55
loan_status                   3
pymnt_plan                    1
url                           39717
desc                          26527
purpose                       14
title                         19615
zip_code                      823
addr_state                    50
dti                           2868
delinq_2yrs                   11
earliest_cr_line              526
inq_last_6mths                9
open_acc                      40
pub_rec                       5
revol_bal                     21711
revol_util                    1089
total_acc                     82
initial_list_status           1
out_prncp                     1137
out_prncp_inv                 1138
total_pymnt                   37850
total_pymnt_inv               37518
total_rec_prncp               7976
total_rec_int                 35148
total_rec_late_fee            1356
recoveries                    4040
collection_recovery_fee       2616
last_pymnt_d                  101
last_pymnt_amnt               34930
last_credit_pull_d            106
collections_12_mths_ex_med    1
policy_code                   1
application_type              1
acc_now_delinq                1
chargeoff_within_12_mths      1
delinq_amnt                   1
pub_rec_bankruptcies          3
tax_liens                     1
dtype: int64
(39717, 54)

In [211]:
#dropping columns with only one unique value

to_drop  = loan_data.nunique()                            #stroring all columns unique count to to_drop 
to_drop  = to_drop.loc[to_drop.values==1].index           #getting column indices where unique count is 1
loan_data.drop(to_drop, inplace=True, axis=1)             #dropping columns in the list to_drop

In [212]:
loan_data.shape

(39717, 45)

#### 2.1.4 Dropping columns that are `text/descriptions`

##### Lets observe `url` and `id` columns

In [213]:
loan_data.loc[[1,2,3,4,5],['id','url']]

        id                                                               url
1  1077430  https://lendingclub.com/browse/loanDetail.action?loan_id=1077430
2  1077175  https://lendingclub.com/browse/loanDetail.action?loan_id=1077175
3  1076863  https://lendingclub.com/browse/loanDetail.action?loan_id=1076863
4  1075358  https://lendingclub.com/browse/loanDetail.action?loan_id=1075358
5  1075269  https://lendingclub.com/browse/loanDetail.action?loan_id=1075269

Here we can conclude that either `url` or `id` column is sufficient.
Because the url column is concatenation of "https://lendingclub.com/browse/loanDetail.action?loan_id" and "id" 

so let's drop url column.

In [214]:
loan_data.drop('url', inplace =True, axis=1)    #dropping url column

#### 2.1.5  We can drop other columns that are not useful for our analysis 
   `member_id` we already have `id` column which is unique, we dont need both

   `desc`      Irrelevant for our analysis\n

   `emp_title` Not required

   Let's go on and drop other `Costumer_Behavioural & Paymnet` columns that dont contribute to analysis

In [215]:
#dropping all unnecessary columns
loan_data.drop(['revol_bal','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee','earliest_cr_line', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
        'member_id','desc','funded_amnt','zip_code',
      'emp_title','title'],inplace=True, axis=1)

In [216]:
loan_data.shape

(39717, 24)

#### Columns left in our Loan Table

In [217]:
loan_data.columns

Index(['id', 'loan_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment',
       'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose',
       'addr_state', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_util', 'total_acc', 'pub_rec_bankruptcies'],
      dtype='object')

#### 2.1.6 Fixing rows

In [218]:
#Lets check and delete if there are no null rows
loan_data.isnull().all(axis=1).sum()

0

In [219]:
# Here there are 3 types of values for loan_status
print(loan_data.loan_status.unique())
loan_data.loan_status.value_counts()

['Fully Paid' 'Charged Off' 'Current']

Fully Paid     32950
Charged Off    5627
Current        1140
Name: loan_status, dtype: int64

#### We can't get any insights from the applicants who's loan status is 'current'
so let's drop the rows where the loan status is `current`

In [220]:
#dropping the rows where loan_status is current 
loan_data.drop(loan_data[loan_data.loan_status =='Current'].index, inplace=True)

In [221]:
print(loan_data.shape) #shape after removing LoanStatus current rows

(38577, 24)

In [222]:
safedata=loan_data.copy(deep= True)

#### 2.2 Standardising values

In [223]:
#data types of the values
loan_data.dtypes

id                      int64
loan_amnt               int64
funded_amnt_inv         float64
term                    object
int_rate                object
installment             float64
grade                   object
sub_grade               object
emp_length              object
home_ownership          object
annual_inc              float64
verification_status     object
issue_d                 object
loan_status             object
purpose                 object
addr_state              object
dti                     float64
delinq_2yrs             int64
inq_last_6mths          int64
open_acc                int64
pub_rec                 int64
revol_util              object
total_acc               int64
pub_rec_bankruptcies    float64
dtype: object

In [226]:
loan_data.head()

,id,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_util,total_acc,pub_rec_bankruptcies
0,1077501,5000,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,...,credit_card,AZ,27.65,0,1,3,0,83.70%,9,0.0
1,1077430,2500,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,...,car,GA,1.00,0,5,3,0,9.40%,4,0.0
2,1077175,2400,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,...,small_business,IL,8.72,0,2,2,0,98.50%,10,0.0
3,1076863,10000,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,...,other,CA,20.00,0,1,10,0,21%,37,0.0
5,1075269,5000,5000.0,36 months,7.90%,156.46,A,A4,3 years,RENT,...,wedding,AZ,11.20,0,3,9,0,28.30%,12,0.0

#### Lets remove `%` symbol from the `int_rate` and `revol util` column names